# TODO: Check this docker-compose.yml file
version: '3'
services:
  hey:
    container_name: hey-sheldon-backend
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    command: node start
    volumes:
      - /home/pi/Sheldon/config.json:/app/config.json
    devices:
      - /dev/snd:/dev/snd
    environment:
      - TZ=Israel/Tel_Aviv
      - BUILD_ID=1

# docker compose build
# docker compose up -d