# TODO: Check this docker-compose.yml file
version: '3'
services:
  hey-sheldon:
    container_name: hey-sheldon-backend
    image: hey-sheldon:latest
    build: .
    restart: always
    command: node start
    volumes:
      - /home/pi/Sheldon/config.json:/app/config.json
    devices:
      - /dev/snd:/dev/snd
    environment:
      - TZ=Israel/Tel_Aviv

# docker compose build
# docker compose up -d