# TODO: Check this docker-compose.yml file
version: '3.9'
services:
  hey:
    container_name: hey-sheldon-backend
    image: hey-sheldon:latest
    restart: always
    command: npm start
    volumes:
      - /home/pi/Sheldon/config.json:/app/config.json
    devices:
      - /dev/snd:/dev/snd
    environment:
      - TZ=Asia/Jerusalem

# docker compose build
# docker compose up -d